<!DOCTYPE html>
<html lang="en">
<head>
    <title>Duquense Incline</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Official website for the Duquesne Incline" >
    <link rel="stylesheet" href="static/styles.css">    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="../index.html" class="quarter-img-link">
                    <img src="../static/photos/DuqInclineLogo (1).png" 
                         alt="Duquesne Incline Logo" 
                         class="quarter-sized-img">
                </a>
            </div>
            <ul class="nav-links">
                <li><a href="./visit.html">Plan Your Visit</a></li>
                <li><a href="./history.html">History</a></li>
                <li><a href="./events.html">Events</a></li>
                <li><a href="./tickets.html">Tickets</a></li>
            </ul>
        </nav>
    </header>

    <main>
        
        <section class="hero">
            <h1>Welcome to the Duquesne Incline</h1>
            <p>Take a step back in time on a century-old cable car and see the best views of downtown Pittsburgh while riding one of the few remaining inclines in the country. Opened on May 20, 1877, the Duquesne Incline was rescued and restored by a group of local residents in 1963 and still delights residents and visitors with its original, elegant, wooden cable cars. Now you can visit the interior of the incline and watch the machinery while it operates. The Duquesne Incline's upper station houses a museum of Pittsburgh history, including photos and a storehouse of information on inclines from around the world. Unusual Pittsburgh souvenirs, maps and photos can be found at the gift shop.</p>
            <br><br>
            <a href="./tickets.html" class="cta-button">Book Tickets</a>
        </section>
        <br>
        <div class="slideshow-container">
            
            <div class="mySlides fade">
                <div class="numbertext">1 / 3</div>
                <img src="../static/photos/download.jpg" style="width:100%">
                <div class="text">Photo Courtesy of Station Square</div>
            </div>
     
            <div class="mySlides fade">
                <div class="numbertext">2 / 3</div>
                <img src="../static/photos/download (2).jpg" style="width:100%">
                <div class="text">Photo Courtesy of Dustin McGrew Photography</div>
            </div>
      
            <div class="mySlides fade">
                <div class="numbertext">3 / 3</div>
                <img src="../static/photos/download (1).jpg" style="width:100%">
                <div class="text">Photo Courtesy of Visit Pittsburgh</div>
            </div>
        
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        
        <br>
       
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
        </div>

       
        <section class="highlights">
            <h2>Visit</h2>
            <div class="highlight-cards">
                <div class="card">
                    <h3>Buy Ticket Form</h3>
                    <p>In consequat consequat lorem a viverra. In hac habitasse platea dictumst. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himena
                    </p>
        </div>
    <footer>
        <p>&copy; 2025 Designed by Brian Woo. all rights reserved</p>
        <ul class="footer-links">
            
            <li><a href="https://www.facebook.com/TheDuquesneIncline/photos/">Facebook</a></li>
            <li><a href = "https://www.visitpittsburgh.com/directory/duquesne-incline/"> VisitPittsburgh</a></li>
            <li><a href="./mailingList.html">Join Mailing List</a></li>
        </ul>
        <ul class = "footer-links">
            <li>
                <div class="logo">
                    <a href="https://www.instagram.com/explore/locations/289145085/duquesne-incline-pittsburgh/?hl=en" class="quarter-img-link">
                      <img src="../static/photos/instagram-logo_1199-122.avif" 
                           alt="Duquesne Incline Logo" 
                           class="quarter-sized-img">
                    </a>
                </div>
            </li>
        </ul>    
    </footer>
    <script src="../script.js" ></script>
</body>
</html>